    
    /* 체크박스 인풋 숨김 */
    /* .checkbox input {
        display: none;
    } */
    
	/* 원 사이 간격 */
    /* .checkbox {
        margin-right: 2.5rem;
    } */

    /* 체크 되었을때 */
    /* .checkbox input:checked + .checkbox_color {
     border: 3px solid #FFFFFF;
     box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .12);;
   } */

.colorBox {
    z-index: 1;
    box-shadow: 2px 2px 2px 2px rgb(216, 203, 203);
}

.checkbox .CirclePicker {
    z-index: 2;
    position: fixed;
    
} 

.colorPicker{
    border: 3px solid blue;
    position: absolute;
}